@import "variables.styl";
@import "helpers.styl";
@import "http://webfonts.ru/import/raleway.css"; //font-family: 'Raleway'
@import "http://webfonts.ru/import/roboto.css"; //font-family: 'Roboto Regular'

*
	box-sizing border-box
	margin 0
	padding 0
#potolok
	/**/
	h1
		color #fff
		font-size 45px
		font-family 'Raleway SemiBold'
		font-weight semibold
		text-transform uppercase
		padding-top 3em
		+media(480px)
			font-size 35px
	h2
		color red
		font-size 25px
		font-family 'Raleway SemiBold'
		font-weight bold
		margin 30px 0
	a
		color #fff
		font-size 24px
		font-family 'Raleway'
		font-weight 400
		line-height 3
		+media(480px)
			font-size 18px
	p
		color #000
		font-size 18px
		font-family 'Roboto'
	/**/
	.line
		width 70%
		height 1px
		margin 1em auto
		&.red
			background red
		&.gray
			background gray
		&.lightgray
			background lightgray
	article
		&.lightblue
			position relative
			&::before
				content ""
				position absolute
				height calc(100% + 2em)
				width 2px
				left -2em
				top -1em
				background lightblue
				+media(480px)
					display none
			&::after
				content ""
				position absolute
				height calc(100% + 1em)
				width 2px
				right -2em
				top 1em
				background lightblue
				+media(480px)
					display none
		&.lightgray
			position relative
			&::before
				content ""
				position absolute
				height calc(100% + 2em)
				width 2px
				left -2em
				top -1em
				background lightgray
				+media(480px)
					display none
			&::after
				content ""
				position absolute
				height calc(100% + 1em)
				width 2px
				right -2em
				top 1em
				background lightgray
				+media(480px)
					display none
	.inner
		width 100%
		max-width 1000px
		margin 0 auto
		position relative
	.block1
		min-height 410px
		background url("../img/block1.jpg") no-repeat
		background-size cover
		+media(480px)
			min-height 230px
		img
			position absolute
			right 0
			bottom -230px
			+media(480px)
				display none
	.block2
		height 450px
		+media(768px)
			height 350px
		img
			position absolute
			top -70px
			+media(960px)
				opacity .2
			+media(768px)
				display none
		article
			width 50%
			margin-left 50%
			+media(960px)
				margin-left 30%
			+media(768px)
				margin-left 10%
				width 90%	
	.block3
		background gray
		padding 35px 0 55px
	.blocks3-6
		height 1075px
		background linear-gradient(4deg, gray 0%,gray 50%,darkblue 50%,darkblue 100%)
		position relative
		overflow hidden
	.block4, .block6, .block8
		height 410px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		article
			width 33%
			top -3em
			left 3em
			z-index 1
			+media(960px)
				width 50%
				margin-left 20%
			+media(480px)
				width 90%
				margin-left -10%
		img
			position absolute
			top -150px
			right 0
			+media(960px)
				top -100px
				right 10%
				opacity .4
			+media(480px)
				top 0
				opacity .2
	.block5
		background url("../img/layer5-bg.jpg") no-repeat center
		background-size cover
		min-height 250px
		transform rotate(4deg)
		z-index 1
		width 105%
		position absolute
		left -2.5%
		top 480px
		img
			position absolute
			top -30%
			+media(960px)
				display none
		article
			position relative
			transform rotate(-4deg)
			width 41%
			left 55%
			top 60px
			+media(960px)
				width 60%
				left 20%
				top 60px
			+media(768px)
				width 90%
				left 5%
				top 40px
	.block6
		position relative
		top 200px
		+media(480px)
			top 230px
		article
			top -6em
		img
			right -60px
			top -300px
			+media(960px)
				opacity .1
	.block7, .block10
		position relative
		background url("../img/layer7-bg.jpg") no-repeat
		padding 2em 0
		+media(960px)
			padding 1em 0
		article
			position relative
			width 41%
			left 55%
			+media(960px)
				width 50%
				left 45%
			+media(768px)
				width 60%
				left 25%
			+media(480px)
				width 80%
				left 10%
		img
			position absolute
			max-height 250px
			top -80px
			left 100px
			+media(960px)
				max-height 235px
				top -82px
				left 130px
			+media(768px)
				display none
	.blocks8-9
		height 640px
		background linear-gradient(4deg, darkblue 0%,darkblue 50%,gray 50%,gray 100%)
		position relative
		overflow hidden
	.block8
		article
			position relative
			top -3em
		img
			top -110px
			+media(960px)
				top -160px
				opacity .1
	.block9
		article
			position relative
			width 41%
			left 55%
			+media(960px)
				width 60%
				left 20%
				top 60px
			+media(768px)
				width 90%
				left 5%
				top 0px
		img
			position absolute
			top -160px
			+media(960px)
				opacity .2
				left 130px
				top -90px
	.block10
		background url("../img/layer10-bg.jpg") no-repeat
		article
			width 35%
			left 3em
			+media(960px)
				width 40%
				left 10%
			+media(768px)
				width 60%
				left 20%
			+media(480px)
				top -1em
				width 80%
				left 10%
		img
			right 50px
			top 1em
			max-height 70px
			left auto
			+media(960px)
				opacity .4
			+media(768px)
				display block
				opacity .1
	.blocks11-12
		position relative
		height 1035px
		background linear-gradient(to right, gray 0%,gray 50%,darkblue 50%,darkblue 100%)
		+media(480px)
			background linear-gradient(gray 0%,gray 300px,darkblue 300px,darkblue 100%)
			
	.block11
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		margin-left .5em
		+media(480px)
			flex-direction column
		article
			width 20%
			+media(960px)
				width 50%
			&:nth-last-child(2)
				margin-right 1em
			&:nth-child(2)
				margin-left 1em
			+media(480px)
				width 100%
				margin-left 0 !important
			p, p.tar
				+media(480px)
					text-align center !important
		img
			width 30%
			+media(960px)
				position absolute
				opacity .2
				width 50%
				&:nth-last-child(1)
					left 50%
			+media(480px)
				opacity .1
				width calc(100% + 15px)
				left -5px
				&:nth-last-child(1)
					left -5px
					top 300px
	.block12
		background linear-gradient(4deg, darkwhite 0%,darkwhite 440px,transparent 440px,transparent 100%)
		height 440px
		position absolute
		width 100%
		left 0
		bottom 0
		padding 5em 0
		p
			font-weight 600
			color darkwhite
			&.tac
				margin -15px 0 40px
			&.after
				position absolute
				left 46%
				top 13px
				text-transform uppercase
				color darkwhite
				font-weight 600
				+media(768px)
					left 45%
				+media(480px)
					display none	
			&.before
				position absolute
				left 51%
				top 13px
				text-transform uppercase
				color darkwhite
				font-weight 600
				+media(480px)
					display none
	.difference
		height 45px
		border-radius 45px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		align-items center
		padding 0 15px
		&.red
			width 40%
			margin 20px 38%
			background linear-gradient(to right, #eb696f 0%,#eb696f 30%,red 30%,red 100%)
			&::before
				content "кол-во показов"
				font-family "Roboto"
				font-size 18px
				text-transform uppercase
				position absolute
				left 10%
				font-weight 500
				color #333
				margin-top 13px
				+media(768px)
					margin-top -20px
					left 50%
					font-weight 500
					font-size 18px
				+media(480px)
					left 30%
			+media(960px)
				width: 60%
				margin 20px 32%
			+media(768px)
				margin-top 40px
			+media(480px)
				width 90%
				margin 40px 2.8%
		&.violet
			width 30%
			margin 20px 44%
			background linear-gradient(to right, #865a95 0%,#865a95 20%,#6c3b7c 20%,#6c3b7c 100%)
			&::before
				content "кол-во кликов"
				font-family "Roboto"
				font-size 18px
				text-transform uppercase
				position absolute
				left 10%
				font-weight 500
				color #333
				margin-top 13px
				+media(768px)
					margin-top -20px
					left 50%
					font-weight 500
					font-size 18px
				+media(480px)
					left 30%
			+media(960px)
				width: 45%
				margin 20px 41%
			+media(768px)
				margin-top 40px
			+media(480px)
				width 62%
				margin 40px 17.1%
		&.green
			width 18%
			margin 20px 50%
			background linear-gradient(to right, blue 0%,blue 0%,#269594 0%,#269594 100%)
			border-radius 0 45px 45px 0
			&::before
				content "кол-во лидов"
				font-family "Roboto"
				font-size 18px
				text-transform uppercase
				position absolute
				left 10%
				font-weight 500
				color #333
				margin-top 13px
				+media(768px)
					margin-top -20px
					left 50%
					font-weight 500
					font-size 18px
				+media(480px)
					left 30%
			p
				&.to-left
					position absolute
					left 47%
					margin-top 13px
					color #269594
					+media(480px)
						left 25%
			+media(960px)
				width: 27%
			+media(768px)
				margin-top 40px
			+media(480px)
				width 40.5%
				margin 40px auto 0
		&.blue
			width 6%
			margin 20px 50%
			background linear-gradient(to right, blue 0%,blue 0%,#3b70b0 0%,#3b70b0 100%)
			border-radius 0 45px 45px 0
			&::before
				content "кол-во клиентов"
				font-family "Roboto"
				font-size 18px
				text-transform uppercase
				position absolute
				left 10%
				font-weight 500
				color #333
				margin-top 13px
				+media(768px)
					margin-top -20px
					left 50%
					font-weight 500
					font-size 18px
				+media(480px)
					left 30%
			p
				&.to-left
					position absolute
					left 47%
					margin-top 13px
					color #3b70b0
					+media(480px)
						left 25%
			+media(960px)
				width: 9%
			+media(768px)
				margin-top 40px
			+media(480px)
				width 16%
				margin 40px 29.8%
	.block13
		min-height 290px
		background url("../img/section5-bg.jpg") no-repeat center
		background-size cover